In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

In [2]:
file_name = 'dataset/m5_survey_data_technologies_normalised.csv'
df = pd.read_csv(file_name)

In [11]:
df['LanguageWorkedWith'].value_counts().sort_values(ascending=False)[:10]

LanguageWorkedWith
JavaScript               8687
HTML/CSS                 7830
SQL                      7106
Bash/Shell/PowerShell    4642
Python                   4542
Java                     4506
C#                       4288
TypeScript               3232
PHP                      2913
C++                      1946
Name: count, dtype: int64

In [12]:
df['LanguageDesireNextYear'].value_counts().sort_values(ascending=False)[:10]

LanguageDesireNextYear
JavaScript               6630
HTML/CSS                 5328
Python                   5239
SQL                      5012
TypeScript               4088
C#                       3591
Bash/Shell/PowerShell    3097
Java                     2953
Go                       2759
Kotlin                   1890
Name: count, dtype: int64

In [14]:
df['DatabaseWorkedWith'].value_counts().sort_values(ascending=False)[:10]

DatabaseWorkedWith
MySQL                   5469
Microsoft SQL Server    4110
PostgreSQL              4097
SQLite                  3248
MongoDB                 3016
Redis                   2508
Elasticsearch           1954
Oracle                  1744
MariaDB                 1709
Firebase                1314
Name: count, dtype: int64

In [15]:
df['DatabaseDesireNextYear'].value_counts().sort_values(ascending=False)[:10]

DatabaseDesireNextYear
PostgreSQL              4328
MongoDB                 3649
Redis                   3331
MySQL                   3281
Elasticsearch           2856
Microsoft SQL Server    2706
SQLite                  2437
Firebase                1650
MariaDB                 1385
DynamoDB                1044
Name: count, dtype: int64

In [13]:
df.columns

Index(['Respondent', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs'],
      dtype='object')

In [23]:
file_name = 'dataset/m5_survey_data_demographics.csv'
df_ = pd.read_csv(file_name)

In [27]:
genders = ['Man', 'Woman']
df_ = df_[df_['Gender'].isin(genders)][['Age',	'Gender', 'Country', 'EdLevel']]
df_.head(3)

,Age,Gender,Country,EdLevel
0,22.0,Man,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)"
1,23.0,Man,New Zealand,Some college/university study without earning ...
2,28.0,Man,United States,"Master’s degree (MA, MS, M.Eng., MBA, etc.)"

In [37]:
# Respondent by age

respondent_by_age = df_['Age'].value_counts().sort_index()
respondent_by_age

Age
16.0      2
17.0      6
18.0     29
19.0     74
20.0    108
21.0    196
22.0    403
23.0    570
24.0    666
25.0    724
26.0    706
27.0    706
28.0    774
29.0    683
30.0    639
31.0    521
32.0    485
33.0    480
34.0    389
35.0    388
36.0    307
37.0    277
38.0    278
39.0    230
40.0    185
41.0    136
42.0    161
43.0    100
44.0     94
45.0     85
46.0     65
47.0     67
48.0     64
49.0     65
50.0     56
51.0     27
52.0     39
53.0     32
54.0     25
55.0     13
56.0     15
57.0     10
58.0     10
59.0     11
60.0      2
61.0     10
62.0      5
63.0      7
65.0      2
66.0      1
67.0      1
71.0      2
72.0      1
99.0      1
Name: count, dtype: int64

In [38]:
# Respondent by gender

respondent_by_gender = df_['Gender'].value_counts()
respondent_by_gender

Gender
Man      10480
Woman      731
Name: count, dtype: int64

In [41]:
# Respondent by country

respondent_by_country = df_['Country'].value_counts()
print(respondent_by_country.to_string())

Country
United States                                3058
India                                         890
United Kingdom                                808
Germany                                       693
Canada                                        426
France                                        333
Brazil                                        321
Australia                                     280
Spain                                         250
Netherlands                                   248
Russian Federation                            204
Poland                                        202
Italy                                         186
Sweden                                        159
Switzerland                                   144
Ukraine                                       106
Israel                                        102
South Africa                                   98
Turkey                                         96
Mexico                                         94
Romania                                        94
Pakistan                                       92
Belgium                                        87
Austria                                        87
Norway                                         84
Iran                                           83
Denmark                                        82
Bulgaria                                       77
Greece                                         73
New Zealand                                    72
Czech Republic                                 72
Argentina                                      70
Finland                                        69
China                                          69
Portugal                                       67
Ireland                                        66
Hungary                                        62
Bangladesh                                     56
Serbia                                         53
Japan                                          50
Colombia                                       50
Malaysia                                       42
Nigeria                                        42
Sri Lanka                                      40
Egypt                                          37
Philippines                                    36
Indonesia                                      34
Lithuania                                      34
Slovenia                                       34
Hong Kong (S.A.R.)                             33
Croatia                                        31
Singapore                                      30
Slovakia                                       28
Estonia                                        27
Belarus                                        24
Taiwan                                         21
Chile                                          21
Kenya                                          20
Latvia                                         19
United Arab Emirates                           19
Other Country (Not Listed Above)               18
Thailand                                       17
Dominican Republic                             16
South Korea                                    15
Uruguay                                        15
Nepal                                          15
Costa Rica                                     15
Guatemala                                      13
Armenia                                        12
Viet Nam                                       12
Albania                                        12
Saudi Arabia                                   12
Peru                                           12
Lebanon                                        11
Luxembourg                                     11
Ecuador                                        11
Bosnia and Herzegovina                         10
Tunisia                                         9
Republic of Moldova                             9
Georgia                                         9
El Salvador                                     8
Morocco                                         8
Malta                                           8
Venezuela, Bolivarian Republic of...            7
Jordan                                          7
Cyprus                                          7
The former Yugoslav Republic of Macedonia       7
Uganda                                          6
Iceland                                         6
Honduras                                        5
Ghana                                           5
Zimbabwe                                        5
Azerbaijan                                      5
Côte d'Ivoire                                   5
Bolivia                                         4
Kyrgyzstan                                      4
Cameroon                                        4
Ethiopia                                        4
Cuba                                            4
Paraguay                                        4
Nicaragua                                       3
Swaziland                                       3
Bahrain                                         3
Algeria                                         3
Myanmar                                         3
Syrian Arab Republic                            3
Afghanistan                                     2
United Republic of Tanzania                     2
Senegal                                         2
Congo, Republic of the...                       2
Sudan                                           2
Mongolia                                        2
Panama                                          2
Burundi                                         2
Uzbekistan                                      2
Kuwait                                          2
Montenegro                                      2
Mauritius                                       2
Timor-Leste                                     1
Mozambique                                      1
Cambodia                                        1
Togo                                            1
Libyan Arab Jamahiriya                          1
Cape Verde                                      1
Jamaica                                         1
Monaco                                          1
Yemen                                           1
Brunei Darussalam                               1
Rwanda                                          1
Liechtenstein                                   1
Qatar                                           1
Turkmenistan                                    1
Somalia                                         1
Republic of Korea                               1
Iraq                                            1

In [44]:
# Respondent by edlevel and gender

respondent_by_edlevel_gender = df_[['EdLevel', 'Gender']].value_counts()
respondent_by_edlevel_gender

EdLevel                                                                             Gender
Bachelor’s degree (BA, BS, B.Eng., etc.)                                            Man       5341
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                         Man       2484
Some college/university study without earning a degree                              Man       1280
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)  Man        482
Bachelor’s degree (BA, BS, B.Eng., etc.)                                            Woman      412
Associate degree                                                                    Man        357
Other doctoral degree (Ph.D, Ed.D., etc.)                                           Man        241
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                         Woman      191
Professional degree (JD, MD, etc.)                                                  Man        144
Some college/university study without earning a degree                              Woman       50
Primary/elementary school                                                           Man         26
I never completed any formal education                                              Man         26
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)  Woman       24
Associate degree                                                                    Woman       20
Other doctoral degree (Ph.D, Ed.D., etc.)                                           Woman       15
Professional degree (JD, MD, etc.)                                                  Woman        8
I never completed any formal education                                              Woman        1
Name: count, dtype: int64