# **Data Wrangling**

<hr>

## Load the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name="dataset/m1_survey_data.csv"

In [17]:
df = pd.read_csv(file_name)

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [19]:
duplicated_rows = int(df.duplicated().sum())
duplicated_rows

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [21]:
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [22]:
duplicated_rows = int(df.duplicated().sum())
duplicated_rows

0

## Finding Missing values

Find the missing values for all columns.

In [23]:
missing_values = int(df.isnull().sum().sum())
missing_values

30967

Find the missing values and type for all columns separately.

In [24]:
missing_df = df.isnull().sum()[df.isnull().sum() > 0].sort_values(ascending=False).reset_index()
missing_df.columns = ['Column_name', 'Missing_values']

types_df = df.dtypes.reset_index()
types_df.columns = ['Column_name', 'Type']

missing_types= pd.merge(missing_df,types_df, how='left', left_on='Column_name', right_on='Column_name')
missing_types

           Column_name  Missing_values     Type
0         BlockchainIs            2610   object
1           CodeRevHrs            2426  float64
2        BlockchainOrg            2322   object
3   MiscTechWorkedWith            2182   object
4         SONewContent            1965   object
..                 ...             ...      ...
68          JobFactors               3   object
69              JobSat               1   object
70             CodeRev               1   object
71           SOVisitTo               1   object
72           SOAccount               1   object

[73 rows x 3 columns]

## Imputing missing values

Find out how many columns have type 'float64'.

In [25]:
missing_types[missing_types['Type'] == 'float64']

      Column_name  Missing_values     Type
1      CodeRevHrs            2426  float64
11  ConvertedComp             816  float64
12      CompTotal             809  float64
26            Age             287  float64
34    WorkWeekHrs             122  float64

Impute (replace) all the empty rows in the column with the type 'float64' with mean values.

In [27]:
numeric_columns = missing_types[missing_types['Type'] == 'float64']['Column_name']
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean().round())

Verify if imputing was successful.

In [28]:
df[numeric_columns].isna().sum()

CodeRevHrs       0
ConvertedComp    0
CompTotal        0
Age              0
WorkWeekHrs      0
dtype: int64

Find out how many columns have type 'object'.

In [29]:
missing_types[missing_types['Type'] == 'object']

           Column_name  Missing_values    Type
0         BlockchainIs            2610  object
2        BlockchainOrg            2322  object
3   MiscTechWorkedWith            2182  object
4         SONewContent            1965  object
5        SOHowMuchTime            1917  object
..                 ...             ...     ...
68          JobFactors               3  object
69              JobSat               1  object
70             CodeRev               1  object
71           SOVisitTo               1  object
72           SOAccount               1  object

[68 rows x 3 columns]

Impute (replace) all the empty rows in the column with the type 'object' with median values.

In [30]:
object_columns = missing_types[missing_types['Type'] == 'object']['Column_name']
df[object_columns] = df[object_columns].apply(lambda x: x.fillna(x.mode()[0]), axis=0)

Verify if imputing was successful.

In [31]:
df[object_columns].isna().sum()

BlockchainIs          0
BlockchainOrg         0
MiscTechWorkedWith    0
SONewContent          0
SOHowMuchTime         0
                     ..
JobFactors            0
JobSat                0
CodeRev               0
SOVisitTo             0
SOAccount             0
Length: 68, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [32]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly'], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [33]:
# your code goes here
def set_CompTotal(row):
    if row["CompFreq"] == "Yearly":
        return row['CompTotal']
    elif row["CompFreq"] == "Monthly":
        return row['CompTotal'] * 12
    elif row["CompFreq"] == "Weekly":
        return row['CompTotal'] * 52
    else:
        return np.nan
        
df.loc[:, 'NormalizedAnnualCompensation'] = df.apply(set_CompTotal, axis=1)
df[['NormalizedAnnualCompensation', 'CompTotal']].head()

   NormalizedAnnualCompensation  CompTotal
0                       61000.0    61000.0
1                      138000.0   138000.0
2                       90000.0    90000.0
3                      348000.0    29000.0
4                       90000.0    90000.0

In [35]:
df.to_csv('dataset/normilized_data.csv')

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).